<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is a sample Express App</p>
    <br>
    <br>
  <h2>Prepared by:</h2>
  <h3>Ahsan Saleem Butt</h2>
  <h3>FA19-BSE-098</h2>
  </body>
</html>
